 @font-face{
        font-family: orbitron;
        src: url("../fonts/orbitron/Orbitron-Regular.ttf");
        
    }
html {
    background-color: black;
    box-sizing: border-box;
    font-family: orbitron;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
}
p{
    color: white;
}
.gameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    --grid-size: 5;
    --cell-size: 17vmin;
    --gap-size: 1.5vmin;
    display: grid;
    background-color: black;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    padding: 0;
    margin: auto;
    gap: var(--gap-size);
    border: var(--gap-size);
    border-style: solid;
    position: relative;
    border-radius: 1vmin;

}
#gameover{
    --grid-size: 5;
    --cell-size: 17vmin;
    --gap-size: 1.5vmin;
    display: none;
    height: calc(var(--grid-size)*var(--cell-size));
    width: calc(var(--grid-size)*var(--cell-size));
    background-color: white;
    padding: 0;
    margin: auto;
    position: absolute;
    z-index: 1;
}
.cell{
    background-color: grey;
    border-radius: 1vmin;

}
.tile{
    --x: 4;
    --y: 4;
    background-color: green;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    left: calc(var(--x)*(var(--cell-size) + var(--gap-size)));
    top: calc(var(--y)*(var(--cell-size) + var(--gap-size)));
    animation: show 300ms ease-in-out;
    transition: 150ms ease-in-out;
    font-size: 10vmin;
}

@keyframes show {
    0%{
        transform: scale(0);
    }
}