@font-face{
        font-family: orbitron;
        src: url("../fonts/orbitron/Orbitron-Regular.ttf");
        
}
:root{
    --scale: min(100vw, 80vh);
    font-size: calc(.01*var(--scale));
    --grid-size: 4;
    --cell-size: calc(.21* var(--scale));
    --gap-size: calc(.02 * var(--scale));
    --text: lightgray;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    font-family: orbitron;
    overflow-x: hidden;
}
body{
    margin: 0;
}
h1{
    font-size: 10rem;
    color: var(--text);
    margin: .3em;
}
.gameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    padding: 0;
    margin: 2rem;
    gap: var(--gap-size);
    border: var(--gap-size);
    border-style: solid;
    position: relative;
    background-color: #232323;
    border-color: #232323;
    border-radius: 1rem;

}
#gameover{
    display: none;
    align-items: center;
    text-align: center;
    height: calc(var(--grid-size)*var(--cell-size) + ((var(--grid-size) - 1) * var(--gap-size)));
    width: calc(var(--grid-size)*var(--cell-size) + ((var(--grid-size) - 1) * var(--gap-size)));
    background-color: var(--text);
    padding: 0;
    margin: auto;
    position: absolute;
    z-index: 1;
    border-radius: 1rem;
}
#gameover h1{
    font-size: 12rem;
    color: black;
    padding: 0;
    padding-top: .5em;
    margin: 0;
}
#gameover .scoreList{
    font-size: 8rem;
    padding: 1.7em;
    margin: 0;
    list-style: none;
}
#gameover .buttons{
    margin: 0;
    padding:0;
    margin-top: 2em;
    display: flex;
    height: 10rem;
    justify-content: center;
    gap: 5rem;
    list-style: none;
}
#gameover .buttons li{
    margin: 0;
    padding: 0;
}
#gameover .buttons button{
    font-family: orbitron;
    font-size: 8rem;
    cursor: pointer;
    user-select: none;
    background-color: #232323;
    color: var(--text);
    border: none;
    padding: .2em;
    border-radius: .2em;
    margin: auto;
    text-decoration: none;
}
#gameover .buttons button:hover{
    background-color: rgb(71, 71, 71)
}

.show{
    opacity: 1;
    animation: showGameover 1000ms ease-out
}
@keyframes showGameover{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.cell{
    background-color: #111111;
    border-radius: 1rem;

}
.tile{
    --x: 4;
    --y: 4;
    transform: translate(calc(var(--x)*(var(--cell-size) + var(--gap-size))),calc(var(--y)*(var(--cell-size) + var(--gap-size))));
    --ch: false;
    --cv: true;
    user-select: none;
    background-color: rgb(192, 192, 192);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1rem;
    opacity: 1;
    animation: show 300ms ease-out;
    transition: all 150ms ease-out;
    font-size: 13rem;
    scale: 1;
    transform-origin: calc((var(--x) + 0.47)*(var(--cell-size) + var(--gap-size))) calc((var(--y) + 0.47)*(var(--cell-size) + var(--gap-size)));
}

.tileValue{
    position: absolute;
    right: calc(.1* var(--cell-size));
    bottom: calc(.03 *var(--cell-size));
    font-size: .3em;
}

@keyframes show {
    0%{
        scale: 0;
        
    }
    100%{
        scale: 1;
    }
}
.scoreContainer{
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    color: var(--text);
}
.scoreContainer .score{
    color: black;
    background-color: var(--text);
    padding: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 1rem;
}
.scoreContainer button{
    cursor: pointer;
    font-family: orbitron;
    font-size: 3.3rem;
    color: black;
    background-color: var(--text);
    padding: 1.2rem;
    border-radius: 1rem;
    border: none;
}
.scoreContainer button:hover{
    background-color: white;
}
.howtoplay{
    color: var(--text);
}

h2{
    font-size: 9rem;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.howtoplay p {
    font-size: 3.5rem;
    width: calc( .8* var(--scale));
    margin: auto;
}
.tileList{
    width: 74rem;
    margin-top: 4rem;
    background-color: #111111;
   padding: 0;
   list-style: none;
   border-radius: 1rem;
   border: var(--gap-size) solid #232323;
   margin-left: auto;
   margin-right: auto;
}
.tileList h3{
    text-align: left;
    font-size: 5rem;
    margin: 0;
    padding-left: 5rem;
    padding-top: 3rem;
}
.tileList li {
    margin: 3rem;
    padding: 0;
    list-style: none;
 }
.tileList p{
    text-align: left;
    position: absolute;
    font-size: 3rem;
    transform: translate(13rem, -7.5rem);
 }
.tileEx{
    position: relative;
    color: black;
    --ch: false;
    --cv: true;
    user-select: none;
    background-color: rgb(192, 192, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(.5 * var(--cell-size));
    height: calc(.5 * var(--cell-size));
    border-radius: 1rem;
    font-size: 6.5rem;
}
.tileValueEx{
    color: black;
    position: absolute;
    right: calc(.05* var(--cell-size));
    bottom: calc(.015 *var(--cell-size));
    font-size: 2rem;
}

footer{
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: var(--text);
    display: flex;
    gap: 10rem;
    justify-content: center;
    font-size: 2.5rem;
}
footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
footer li{
    padding: .5rem;
}
footer a{
    color: var(--text);
}
footer a:visited{
    color: var(--text);
}
footer a:hover{
    color: var(--text);
    text-decoration: underline;
}
footer img{
    margin-right: 1rem;
    position: relative;
    top: .2rem;
    width: 1em;
    height: 1em;
}
/* data-tooltip="bc1qxadr4ln7sqrlqcr03mh87a45avgzd8e3d3vep5"*/
*[data-tooltip]{
    position: relative;
}
*[data-tooltip]::after {
    content: attr(data-tooltip);

    position: absolute;
    top: -4rem;
    left: -17rem;
    width: auto;

    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;

    display: block;
    font-size: 3rem;
    line-height: 3rem;
    background: var(--text);
    padding: .2rem .2rem;
    border-radius: .5rem;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
    background-color: white;
}

*[data-tooltip]:hover::after {
    opacity: 1;
}

.toaster{
    background-color: white;
    position: fixed;
    padding: 1em;
    top: calc(50vh - 8em);
    left: calc(50vw - 6.6em);
    font-size: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px .5px black;
    background-color: rgb(192, 192, 192);
    animation: showToaster 3000ms ease-out;
    z-index: 10;
}
@keyframes showToaster {
    0%{
        transform: translateY(10rem);
        opacity: 0;
    }
    15%{
        transform: translateY(0);
        opacity: 1;
    }
    75%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(0);
        opacity: 0;
    }
}
