@font-face{
        font-family: orbitron;
        src: url("../fonts/orbitron/Orbitron-Regular.ttf");
        
}

body {
    user-select: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    font-family: orbitron;
}
h1{
    font-size: 7vmin;
    color: white;
    margin: 3vmin;
}
.gameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    --grid-size: 4;
    --cell-size: 17vmin;
    --gap-size: 1.5vmin;
    display: grid;
    background-color: black;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    padding: 0;
    margin: auto;
    gap: var(--gap-size);
    border: var(--gap-size);
    border-style: solid;
    position: relative;
    border-radius: 1vmin;

}
#gameover{
    --grid-size: 4;
    --cell-size: 17vmin;
    --gap-size: 1.5vmin;
    visibility: hidden;
    align-items: center;
    text-align: center;
    height: calc(var(--grid-size)*var(--cell-size));
    width: calc(var(--grid-size)*var(--cell-size));
    background-color: white;
    padding: 0;
    margin: auto;
    position: absolute;
    z-index: 1;
    border-radius: 1vmin;
}
#gameover h1{
    font-size: 9vmin;
    color: black;
    padding: 0;
    padding-top: 7vmin;
    margin: 0;
}
#gameover .scoreList{
    font-size: 7vmin;
    padding: 4vmin;
    margin: 0;
    list-style: none;
}
#gameover .buttons{
    margin: 0;
    padding:0;
    margin-top: 5vmin;
    display: flex;
    height: 10vmin;
    justify-content: center;
    gap: 3vmin;
    list-style: none;
}
#gameover .buttons li{
    margin: 0;
    text-decoration: none;
    padding: 0;
}
#gameover .buttons button{
    font-family: orbitron;
    font-size: 5.5vmin;
    cursor: pointer;
    user-select: none;
    background-color: black;
    color: white;
    border: none;
    padding: .2em;
    border-radius: 1vmin;
    margin: auto;
    text-decoration: none;
}
.show{
    opacity: 95%;
    animation: showGameover 1000ms ease-out
}
@keyframes showGameover{
    0%{
        opacity: 0%;
    }
}
.cell{
    background-color: grey;
    border-radius: 1vmin;

}
.tile{
    --x: 4;
    --y: 4;
    --ch: false;
    --cv: true;
    user-select: none;
    background-color: red;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    left: calc(var(--x)*(var(--cell-size) + var(--gap-size)));
    top: calc(var(--y)*(var(--cell-size) + var(--gap-size)));
    animation-name: show;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    -webkit-animation-name: show;
    -webkit-animation-duration: 300ms;
    -webkit-animation-timing-function: ease-out;
    transition: 150ms ease-out;
    font-size: 10vmin;
}
.scoreContainer{
    font-size: 3vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vmin;
    color: white;
}
.scoreContainer .score{
    color: black;
    background-color: white;
    padding: 1vmin;
    padding-top: .5vmin;
    padding-bottom: .5vmin;
    border-radius: 1vmin;
}
.scoreContainer button{
    cursor: pointer;
    font-family: orbitron;
    font-size: 3vmin;
    color: black;
    background-color: white;
    padding: 1vmin;
    padding-top: .5vmin;
    padding-bottom: .5vmin;
    border-radius: 1vmin;
    border: none;
}
.footer{
   color: white;
}
.donate{
    font-size: 2.5vmin;
    list-style: none;
    margin: 0;
    padding: 0;
}
.donate li{
    cursor: pointer;
    text-decoration: none;
    display: inline;
    color: black;
    margin: 2vmin;
    padding: 1vmin;
    border-radius: 1vmin;
    background-color: white;
}
.donate a, .donate a:visited{
    text-align: none;
    color: black;
}
.donate img{
    position: relative;
    top: 2vmin;
    width: 2em;
    height: 2em;
}
*[data-tooltip]{
    position: relative;
}
*[data-tooltip]::after {
    content: attr(data-tooltip);

    position: absolute;
    top: -20px;
    left: -6vmin;
    width: auto;

    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;

    display: block;
    font-size: 2vmin;
    line-height: 2vmin;
    background: white;
    padding: 2px 2px;
    border-radius: .5vmin;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}

*[data-tooltip]:hover::after {
    opacity: 1;
}


@keyframes show {
    0%{
        transform: scale(0);
    }
    100%{
        -webkit-transform: scale(1)
    }
}
@-webkit-keyframes show {
    0%{
        -webkit-transform: scale(0);
    }
    100%{
        -webkit-transform: scale(1)
    }
}
